{
  "extends": ["plugin:prettier/recommended", "prettier/react", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "semi": 0,
    "indent": ["error", 2],
    "space-before-function-paren": 0
  }
}
